.pokemon--home {
  .card {
    margin-bottom: 2.1rem !important;
  }
}

.pokemon--pagination {
  margin-bottom: 2rem;
  margin-top: 1rem;

  button + button {
    margin-left: 5px;
  }
  > .btn {
    border-radius: 2rem;
  }
}
