<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/pokeball-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Pokemon
    </a>
  </div>
</nav>
<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="pokemon-footer">
  <p>
    Template Pokemon <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://github.com/dejaneves">@dejaneves</a>.
  </p>
</footer>
